body {
    width: 50rem;
}

.hidden{
    display: none;
}

.header-buttons .tab-mover {
    display: none;
    font-weight: bold;
}
.header-buttons.radio-selected .tab-mover {
    display: unset;
}
.header-buttons .tab-mover.down {
    margin-right: 15rem;
}

tr.tab.selected {
    background-color: lightgray;
}
td[data-label="Reorder"] {
    text-align: center;
}

input[type="radio"] {
    position: relative;
    top: 2px;
    transform: scale(2);
}
